@font-face {
  font-family: "IRANSans";
  src:url("./../public/assets/iransans/IRANSans.woff")
   
}

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'IRANSans';

}

/* @media only screen and (min-width: 600px) {
  html{
    font-size: 100%;
  }
  
} */